:root {
  /* dark shades of primary color*/
  /* --clr-primary-1: hsl(43, 86%, 17%); */
  --clr-primary-1: #f9f7f7;
  --clr-primary-2: #dbe2ef;
  --clr-primary-3: #3f72af;
  --clr-primary-4: #112d4e;
}


/*
=============== 
Sidebar
===============
*/
.sidebar {
  background: var(--clr-primary-1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  place-items: center;
  opacity: 0;
  transform: translateX(-100%);
}

.show-sidebar {
  animation: slideRight ease-in-out 0.3s forwards;
}

.hide-sidebar {
  animation: slideLeft ease-in-out 0.3s forwards;
}

.sidebar-links li {
  opacity: 0;
}

.sidebar-links li a {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: var(--clr-grey-5);
  letter-spacing: var(--spacing);
  margin-bottom: 0.5rem;
  font-size: 2rem;
  transition: var(--transition);
  border-radius: var(--radius);
}
.sidebar-links li a:hover {
  background: var(--clr-primary-9);
  color: var(--clr-primary-5);
}
.close-btn {
  position: absolute;
  right: 4.75%;
  top: 2.75%;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
}

/*
=============== 
Sidebar Animation
===============
*/
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


/*
=============== 
Navbar
===============
*/

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  z-index: 200;
  background: var(--clr-primary-3);
}
.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header img {
  margin-bottom: 0.375rem;
}
.toggle-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-4);
  cursor: pointer;
  transition: var(--transition);
}
.toggle-btn:hover {
  color: var(--clr-primary-2);
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  font-size: x-large;
  color: white;
}
@media screen and (min-width: 992px) {
  .toggle-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5rem;
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    background: var(--clr-primary-4);
    box-shadow: 0px 10px 50px -20px var(--clr-primary-3);
  }
}


/*
=============== 
Task
===============
*/
.task {
  cursor: pointer;
  padding-left: 3rem;
  border-radius: 9px;
  text-align: left;
  box-shadow: -50px 0px 90px -27px grey;
  margin-bottom: 0.25rem;
  margin-top: 0.15rem;
  background-color: white;
  margin-left: 1.25rem;
}

.task:hover {
  background-color: rgba(255, 255, 255, 0.5)
}

.selectedTask {
  animation: slideTaskRight ease-in-out 0.3s forwards;
}

@keyframes slideTaskRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(2%);
  }
}

@keyframes slideTaskLeft {
  0% {
    transform: translateX(2%);
  }
  100% {
    transform: translateX(0);
  }
}

.task-list {
  height: 100%;
  width: 100%;
  box-shadow: 0px -10px 100px -24px black;
}

@media screen and (min-width: 992px) {
  .task-list {
    height: 80%
  } 
}

/*
=============== 
Calendar
===============
*/
.calendar {
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 700px;
  max-height: 600px;
  margin: 15px 10%;
} 


@media screen and (min-width: 1550px){
  .calendar {
    margin: 15px 4rem;
  }
}


.calendar .header {
  background-color: var(--clr-primary-3);
  text-align: center;
  min-height: 2rem;
  line-height: 2rem;
  color: white;
  font-weight: 700;
  display: flex;
  border-radius: 50px;
}

.calendar .day-names {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
}

.calendar .body {
  border: 1px solid lightblue;
  border-radius: 50px;
}

.calendar .header .previous {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
  cursor: pointer;
}

.calendar .header .next {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
  cursor: pointer;
}

.calendar .week {
  background-color: lightblue;
  width: calc(100% / 7);
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-weight: 400;
}

.calendar .week:first-child {
  border-radius: 20px 0 0 20px;
}
.calendar .week:last-child {
  border-radius: 0 20px 20px 0 ;
}

.calendar .week div {
  width: 100%;
}

.calendar .day {
  position: relative;
  width: calc(100% / 7);
  height: 40px;
  display: inline-block;
  background-color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 0;
  text-align: center;
}


.calendar .day:hover {
  border-radius: 50%;
  background-color: grey;
  animation: opacity ease-in 0.5s;
}

@keyframes opacity {
  0% {
    opacity: 50%;
  }
  100%{
    font-size: 120%;
    opacity: 100%; 
  }
}

.calendar .day div {
  width: auto;
  height: 44px;
  position: relative;
  color: black;
  z-index: 100;
  line-height: 44px;
}

.calendar .day div.before {
  color: var(--clr-primary-3);
  font-size: small;
}

.calendar .day div.selected {
  background-color: var(--clr-primary-4);
  width: 95%;
  border-radius: 60%;
  color: white;
  font-weight: bold;
  height: 90%;
}

.calendar .day div.today {
  background-color: var(--clr-primary-3);
  width: 95%;
  color: white;
  border-radius: 60%;
  height: 90%;
}


.event-indicator {
  left: 45%;
  top: 5px;
  max-width: 5px;
  max-height: 5px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
}


/*
=============== 
Login
===============
*/

.background{
  background-color: #3f72af;
  
}

.background-row {
  background-color: white;
  height: 50%;
  width: 40%;
  border-radius: 5rem;
  box-shadow: 0px 50px 100px 0px rgba(15, 15, 15, 0.5);
}

@media screen and (max-width: 1050px){
  .background-row {
    width: 60%;
  }
}



.root-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-controller {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 24em;
  min-width: 21em;
  height: 35px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  margin-bottom: 30px;
  align-items: center;
  transition: visibility 0.5s ease-out;
  background-color: white;
  border-radius: 5rem;
}

.controller {
  flex: 1;
  text-align: center;
  height: 100%;
  line-height: 2;
  cursor: pointer;
}
  

.selected-controller {
  transition: border 0.5s ease-out;
  border-bottom: 1px solid blue;
}
  
.box-container {
  display: flex;
  flex-direction: column;
  max-width: 24em;
  min-width: 21em;
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 1);
  border-radius: 6px;
  padding: 24px;
}
 
.inner-container {
  transition: visibility 0.2s ease-out;
}
 
.inner-container.show {
  visibility: visible;
}
  
.header {
  text-align: center;
  padding: 5px;
  margin-bottom: 17px;
  /* margin-left: 35px; */
  /* margin-right: 35px; */
  font-family: Ozxgen, sans-serif;
  font-size: 22px;
  border-bottom: 2px solid blue;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}
  
.login-label {
  font-family: Oxygen, sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-left: 5px;
}
  
.login-input {
  height: 2.1em;
  border-radius: 3px;
  border: 1px solid blue;
  transition: border 0.4s ease-out;
  padding: 13px;
  font-family: Oxygen, sans-serif;
  font-size: 19px;
  color: #3e3e42;
  background: rgba(15, 15, 15, 0.01);
}
  
.login-input:hover {
  border: 2px solid var(--clr-primary-3);
}
  
.login-input:focus {
  border: 2px solid var(--clr-primary-3);
  box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}
  
.login-input::placeholder {
  font-family: Oxygen, sans-serif;
  font-size: 16px;
  color: rgba(15, 15, 15, 0.4);
}
  
.login-btn {
  padding: 2px 30px;
  /* background-color: #417cef; */
  border: 0;
  font-size: 18px;
  border-radius: 3px;
  font-family: Oxygen, sans-serif;
  background-color: rgba(15, 15, 15, 0.03);
  margin-top: 20px;
  border: 2px solid var(--clr-primary-3);
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
  background-color: #417cef;
  color: white;
}

.danger-error {
  color: #e74c3c;
  font-size: 16px;
}
  
.password-state {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
  
.pwd {
  height: 6px;
  flex: 1;
  visibility: hidden;
}
  
.pwd-weak {
  background-color: #e74c3c;
}
  
.pwd-medium {
  background-color: #3498db;
}
  
.pwd-strong {
  background-color: #2ecc71;
}

.show {
  visibility: visible;
}






.border-none{
  border: none;
}

.edit-button{
  border-radius: 50%;
  background-color: var(--clr-primary-3);
  width: 70px;
  height: 70px;
  text-align: center;
  cursor: pointer;
}

.delete-button{
  border-radius: 50%;
  background-color: rgba(180,0,0);
  width: 70px;
  height: 70px;
  text-align: center;
  cursor: pointer;
  
}


.delete-button-icon {
  max-width: 40px;
  max-height: 40px;
  top: 20%;
  padding-top: 10;
  position: relative;
  color: red;
}



.edit-button-icon {
  max-width: 40px;
  max-height: 40px;
  top: 20%;
  position: relative;
}


.title-input {
  font-size: xxx-large;
  text-align: center;
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
}

.title-input:focus{ 
  border:none;	
  outline:none;
  border-bottom:1px solid var(--clr-primary-4);	
 }

 .task-container {
   background-color: var(--clr-primary-2);
 }













